<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main>
        <h1>
            <%= title %>
        </h1>
        <% if (typeof flash !=='undefined' && flash.error) { %>
            <div class="flash-error">
                <%= flash.error %>
            </div>
            <% } %>

                <% if (errors && errors.length> 0) { %>
                    <ul class="notice">
                        <% errors.forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>

                        <form action="/account/login" method="POST">
                            <label for="account_email">Email:</label>
                            <input type="email" id="account_email" name="account_email" required
                                placeholder="Enter your email" value="<%= locals.account_email %>">

                            <label for="account_password">Password:</label>
                            <input type="password" id="account_password" name="account_password" required>

                            <button type="submit">Login</button>
                        </form>

                        <p>Don't have an account? <a href="/account/register">Register here</a>.</p>
    </main>
</body>

</html>