<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        <main>
            <h1>
                <%= title %>
            </h1>
            <% if (typeof flash !=='undefined' && flash.notice) { %>
                <div class="flash-notice">
                    <%= flash.notice %>
                </div>
                <% } %>

                    <div class="account-info">
                        <h2>Welcome, <%= locals.accountData.account_firstname %>
                        </h2>
                        <p>You're logged in!</p>
                        <p>Email: <%= locals.accountData.account_email %>
                        </p>
                        <p>Account Type: <%= locals.accountData.account_type %>
                        </p>
                    </div>
        </main>
</body>

</html>