<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>


<body>
    <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>

    <main>
        <%- body %> <!-- Aquí se inyectará el contenido dinámico de cada vista -->
    </main>

    <%- include('../partials/footer') %>
    </div>
</body>

</html>